<div class="px-4 py-2 md:px-6 lg:px-8 text-center">
  <div class="grid mt-3">
    <div *ngFor="let service of services" class="col-12 md:col-4 mb-4 px-5">
      <span
        (click)="showDialog(service)"
        class="p-3 shadow-2 mb-3 inline-block cursor-pointer relative"
        style="border-radius: 10px"
      >
        <p-badge
          *ngIf="service.isReady"
          value="✓"
          severity="success"
          pTooltip="Ready to deploy"
          tooltipPosition="left"
          [style]="{position: 'absolute', right: '-10px', top: '-10px'}"
        >
        </p-badge>
        <i class="pi text-4xl text-orange-500" [ngClass]="service.icon"> </i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">{{ service.title }}</div>
      <span class="text-700 line-height-3">{{ service.desc }}</span>
    </div>
  </div>
</div>

<p-dialog
  *ngIf="selectedService"
  [header]="selectedService.title"
  [(visible)]="visible"
  [modal]="true"
  [style]="{width: '90vw'}"
  [draggable]="false"
  [resizable]="false"
  class="p-0 m-0"
>
  <p-tag *ngFor="let tag of selectedService.tags" class="mr-2">
    {{ tag }}
  </p-tag>

  <div *ngIf="selectedService.content">
    <p class="mt-3">
      {{ selectedService.content || 'Coming soon...' }}
    </p>
    <p class="my-3 font-bold">Quick start:</p>
    <div class="bg-gray-100 border-round p-3">
      <ol class="list-decimal" *ngFor="let step of selectedService.startSteps">
        <li class="my-2 cursor-auto">{{ step }}</li>
      </ol>
    </div>
  </div>
  <div *ngIf="!selectedService.content">
    <p class="mt-3">
      {{ selectedService.content || 'Coming soon...' }}
    </p>
  </div>
</p-dialog>
